html {
    height: 100%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

#title {
    background-color: #ff0077;
    padding-bottom: 5%;
}


/* Phone anim */

.twophones {
    animation-name: stretch;
            animation-duration: 2.0s;
            animation-timing-function: ease-out;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(1.1);

    50% {
        transform: scale(1.1)
    }

    100% {
        transform: scale(1.1);
    }
}
}

/* navbar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    padding-left: 1rem;
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 2rem;
    font-style: italic;
    color: #00ff8c;
    -webkit-text-stroke: 1px rgb(80, 107, 6);
}

.navbar-brand:hover {
    color:#fbff00;
    transform: scale(1.1);
}

.nav-item {
    padding-left: 18px;
    padding-right: 18px;
}

.nav-link {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 1.2rem;
    color: #00ff8c;
    text-decoration: underline;
    text-decoration-color:#fbff00;
    -webkit-text-stroke: .5px rgb(0, 0, 0);
}

.nav-link:hover {
    color:#fbff00;
}

.ralign {
    padding-left: 75%;
}

/* buttons */


.btns {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.btn {
    font-family: 'Raleway';
    color:#00ff8c;
}


.btn1:hover {
    color:#fbff00;
    transform: scale(1.1);

}

/* main text */
.pad1 { 
    padding: 3% 15%;
 }


 h1 {
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 4rem;
    line-height: 1.5;
    color:#00ff8c;
    -webkit-text-stroke: 2px rgb(80, 107, 6);
}

h1:hover {
    color:#fbff00;
    transform: scale(1.1);
    text-decoration-color:#00ff8c;
}


.ital {
    text-decoration: underline;
    text-decoration-color: #ffe600;
}





h3 {
    font-family: 'Raleway';
}

.ralign1 {
    margin-left: 5rem;
}

#features {
    background-color:#fbff00;
    padding: 15% 7%;
    
}

.icon:hover {
    color: #00ff8c;
    transform: scale(1.1);
}



.ftrs {
    font-family: 'Raleway';
    font-size: 3rem;
    font-weight: 900;
    color:#ff0077;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.ftrsl {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 2rem;
    color: #00ff8c;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

#testimonials {
    background-color: #00ff8c;
    text-align: center;
}

.caousel-item {
    padding: 7% 15%;
}

.test {
    font-family: 'Raleway';
    font-size: 3rem;
    font-weight: 900;
    line-height: 5rem;
    color:#fbff00;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    margin-top: 5%;    
    padding-left: 15%;
    padding-right: 15%;
}

.test1 {
    font-family: 'Raleway';
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 5rem;
    color:#fbff00;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    margin-top: 5%;    
    padding-left: 15%;
    padding-right: 15%;
}

.test:hover {
    color:#ff0077
}

.test1:hover {
    color:#ff0077
}

.oprahtxt {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 1.5rem;
    color: #fbff00;
    -webkit-text-stroke: .7px rgb(0, 0, 0);
}

.oprahtxt:hover {
    color:#ff0077;  
}

.oprah1 {
    width: 15%;
    border-radius: 100%;
    margin-top: 5%;
    
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  
  height: 100px;
  width: 100px;
  outline: #ff0077;
  background-size: 100%, 100%;
  background-image: none;
  padding: 15% 15%; 
}

.carousel-control-next-icon:after
{
  content: '👉';
  font-size: 75px;
  color:#fbff00;
}

.carousel-control-prev-icon:after {
  content: '👈';
  font-size: 75px;
  color: #fbff00;
}

#press {
    background-color: #00ff8c;
    text-align: center;
    padding-bottom: 3%;
    padding-top: 5%;
}

.presslogo {
    width: 10%;
    margin: 20px 20px 10px;
}

#footer {
    height: 100%;
    width: 100%;
    background-color: #00ff8c;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 1.5rem;
    color: #fbff00;
    overflow: hidden;
    -webkit-text-stroke: .7px rgb(0, 0, 0);
}

#pricing {
    padding: 5% 7%;
    background-color: #ff0077;
}

.cardh {
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 4rem;
    line-height: 1.5;
    color:#fbff00;
    margin-top: 5%;
    text-decoration: underline solid #00ff8c;
    -webkit-text-stroke: 2px rgb(80, 107, 6);
}

.cardp {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 2rem;
    color:#fbff00;
    margin-bottom: 10%;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.cardh:hover {
    color:#00ff8c;
    text-decoration: underline solid #fbff00;
}

.cardp:hover {
    color:#00ff8c;
}

.card {
    background-color:#fbff00;
}

.card:hover {
    transform: scale(1.1);
}

.cardtxt1 {
    
    text-align: center;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 2.5rem;
    color:#ff0077;
    margin-bottom: 0%;
    -webkit-text-stroke: .7px rgb(0, 0, 0);
}

.cardtxt2 {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 3rem;
    color:#00ff8c;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.cardtxt3 {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 1.5rem;
    color: #ff0077;
    -webkit-text-stroke: .3px rgb(0, 0, 0);
}

.mycards {
    margin-bottom: 5%;
}

#cta {
    background-color: #00ff8c;
}

.myself {
    margin-top: 10%;
    width:25%;
}

.cardh1 {
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 5rem;
    line-height: 1.5;
    color:#fbff00;
    text-decoration: underline solid #ff0077;
    -webkit-text-stroke: 2px rgb(80, 107, 6);
}

.cardp1 {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 3rem;
    color:#fbff00;
    margin-bottom: 5%;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.cardh1:hover {
    color:#ff0077;
    text-decoration:underline solid #fbff00;
}

.cardp1:hover {
    color:#ff0077;
}


.bottombutton:hover {
    color:#fbff00;
    transform: scale(1.1);

}

.btns1 {
    margin-bottom: 5%;
}
